 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 25px;
    width: min-content;
    min-width: 50%;
    max-width: 80%;
  }

  .hidden {
      display: none;
  }

  .modal-project{
    flex-wrap: wrap;
    text-align: center;
  }

  .modal-project > *{
      margin-top: 5%;
  }

  .modal-close{
    margin-top:5%
  }

  .technologies > ul, .tasks > ul{
    list-style:none; text-align:center; margin:0;  }

  .technologies > ul > li, .tasks > ul > li{
    display:inline-block;
    *display:inline;
    vertical-align:top;
    padding: 1%;
    margin:1% 1%;
    background-color: lightgray;
    border-radius: 5px;
  }